 ({:archived false,
  :database_id 1,
  :display_data "{\"name\":\"USERS\",\"display_name\":\"Users\",\"description\":null}",
  :model "table",
  :model_id 1,
  :name "USERS",
  :native_search_terms "USERS Users",
  :search_terms "USERS Users",
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"PEOPLE\",\"display_name\":\"People\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":2,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"PEOPLE\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.721554Z\",\"id\":2,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"PEOPLE\",\"display_name\":\"People\",\"created_at\":\"2025-01-28T14:50:43.244414Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 2,
  :name "PEOPLE",
  :native_search_terms "PEOPLE People",
  :search_terms "PEOPLE People",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"REVIEWS\",\"display_name\":\"Reviews\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":3,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"REVIEWS\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.730886Z\",\"id\":3,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"REVIEWS\",\"display_name\":\"Reviews\",\"created_at\":\"2025-01-28T14:50:43.263203Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 3,
  :name "REVIEWS",
  :native_search_terms "REVIEWS Reviews",
  :search_terms "REVIEWS Reviews",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"ORDERS\",\"display_name\":\"Orders\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":4,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"ORDERS\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.73479Z\",\"id\":4,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"ORDERS\",\"display_name\":\"Orders\",\"created_at\":\"2025-01-28T14:50:43.28Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 4,
  :name "ORDERS",
  :native_search_terms "ORDERS Orders",
  :search_terms "ORDERS Orders",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"VENUES\",\"display_name\":\"Venues\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":5,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"VENUES\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.738026Z\",\"id\":5,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"VENUES\",\"display_name\":\"Venues\",\"created_at\":\"2025-01-28T14:50:43.301485Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 5,
  :name "VENUES",
  :native_search_terms "VENUES Venues",
  :search_terms "VENUES Venues",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"CATEGORIES\",\"display_name\":\"Categories\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":6,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"CATEGORIES\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.740864Z\",\"id\":6,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"CATEGORIES\",\"display_name\":\"Categories\",\"created_at\":\"2025-01-28T14:50:43.313056Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 6,
  :name "CATEGORIES",
  :native_search_terms "CATEGORIES Categories",
  :search_terms "CATEGORIES Categories",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"PRODUCTS\",\"display_name\":\"Products\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":7,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"PRODUCTS\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.744201Z\",\"id\":7,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"PRODUCTS\",\"display_name\":\"Products\",\"created_at\":\"2025-01-28T14:50:43.33138Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 7,
  :name "PRODUCTS",
  :native_search_terms "PRODUCTS Products",
  :search_terms "PRODUCTS Products",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 1,
  :display_data "{\"name\":\"CHECKINS\",\"display_name\":\"Checkins\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":8,\"database_id\":1,\"database_name\":\"test-data (h2)\",\"name\":\"CHECKINS\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:50:44.746134Z\",\"id\":8,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"CHECKINS\",\"display_name\":\"Checkins\",\"created_at\":\"2025-01-28T14:50:43.346043Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 8,
  :name "CHECKINS",
  :native_search_terms "CHECKINS Checkins",
  :search_terms "CHECKINS Checkins",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 2,
  :display_data "{\"name\":\"CONTINENT\",\"display_name\":\"Continent\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":9,\"database_id\":2,\"database_name\":\"airports (h2)\",\"name\":\"CONTINENT\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:53:47.108486Z\",\"id\":9,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"CONTINENT\",\"display_name\":\"Continent\",\"created_at\":\"2025-01-28T14:53:47.051721Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 9,
  :name "CONTINENT",
  :native_search_terms "CONTINENT Continent",
  :search_terms "CONTINENT Continent",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 2,
  :display_data "{\"name\":\"AIRPORT\",\"display_name\":\"Airport\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":10,\"database_id\":2,\"database_name\":\"airports (h2)\",\"name\":\"AIRPORT\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:53:47.108486Z\",\"id\":10,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"AIRPORT\",\"display_name\":\"Airport\",\"created_at\":\"2025-01-28T14:53:47.05974Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 10,
  :name "AIRPORT",
  :native_search_terms "AIRPORT Airport",
  :search_terms "AIRPORT Airport",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 2,
  :display_data "{\"name\":\"COUNTRY\",\"display_name\":\"Country\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":11,\"database_id\":2,\"database_name\":\"airports (h2)\",\"name\":\"COUNTRY\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:53:47.108486Z\",\"id\":11,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"COUNTRY\",\"display_name\":\"Country\",\"created_at\":\"2025-01-28T14:53:47.065937Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 11,
  :name "COUNTRY",
  :native_search_terms "COUNTRY Country",
  :search_terms "COUNTRY Country",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 2,
  :display_data "{\"name\":\"MUNICIPALITY\",\"display_name\":\"Municipality\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":12,\"database_id\":2,\"database_name\":\"airports (h2)\",\"name\":\"MUNICIPALITY\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:53:47.108486Z\",\"id\":12,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"MUNICIPALITY\",\"display_name\":\"Municipality\",\"created_at\":\"2025-01-28T14:53:47.071081Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 12,
  :name "MUNICIPALITY",
  :native_search_terms "MUNICIPALITY Municipality",
  :search_terms "MUNICIPALITY Municipality",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :database_id 2,
  :display_data "{\"name\":\"REGION\",\"display_name\":\"Region\",\"description\":null}",
  :legacy_input "{\"description\":null,\"table_id\":13,\"database_id\":2,\"database_name\":\"airports (h2)\",\"name\":\"REGION\",\"table_schema\":\"PUBLIC\",\"updated_at\":\"2025-01-28T14:53:47.108486Z\",\"id\":13,\"table_description\":null,\"initial_sync_status\":\"complete\",\"table_name\":\"REGION\",\"display_name\":\"Region\",\"created_at\":\"2025-01-28T14:53:47.07629Z\",\"model\":\"table\"}",
  :model "table",
  :model_id 13,
  :name "REGION",
  :native_search_terms "REGION Region",
  :search_terms "REGION Region",
  :updated_at :%now,
  :view_count 0}
 {:archived false,
  :collection_id 1,
  :display_data "{\"name\":\"Trash\",\"description\":null,\"collection_name\":\"Trash\"}",
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_id\":1,\"name\":\"Trash\",\"collection_name\":\"Trash\",\"collection_authority_level\":null,\"id\":1,\"collection_type\":\"trash\",\"archived_directly\":null,\"location\":\"/\",\"created_at\":\"2025-01-28T14:50:40.941579Z\",\"model\":\"collection\"}",
  :model "collection",
  :model_id 1,
  :name "Trash",
  :native_search_terms "Trash",
  :search_terms "Trash",
  :updated_at :%now}
 {:archived false,
  :collection_id 4,
  :display_data "{\"name\":\"Crowberto Corv's Personal Collection\",\"description\":null,\"collection_name\":\"Crowberto Corv's Personal Collection\"}",
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_id\":4,\"name\":\"Crowberto Corv's Personal Collection\",\"collection_name\":\"Crowberto Corv's Personal Collection\",\"collection_authority_level\":null,\"id\":4,\"collection_type\":null,\"archived_directly\":null,\"location\":\"/\",\"created_at\":\"2025-01-28T14:50:46.515988Z\",\"model\":\"collection\"}",
  :model "collection",
  :model_id 4,
  :name "Crowberto Corv's Personal Collection",
  :native_search_terms "Crowberto Corv's Personal Collection",
  :search_terms "Crowberto Corv's Personal Collection",
  :updated_at :%now}
 {:archived false,
  :collection_id 5,
  :display_data "{\"name\":\"Rasta Toucan's Personal Collection\",\"description\":null,\"collection_name\":\"Rasta Toucan's Personal Collection\"}",
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_id\":5,\"name\":\"Rasta Toucan's Personal Collection\",\"collection_name\":\"Rasta Toucan's Personal Collection\",\"collection_authority_level\":null,\"id\":5,\"collection_type\":null,\"archived_directly\":null,\"location\":\"/\",\"created_at\":\"2025-01-28T14:50:47.1473Z\",\"model\":\"collection\"}",
  :model "collection",
  :model_id 5,
  :name "Rasta Toucan's Personal Collection",
  :native_search_terms "Rasta Toucan's Personal Collection",
  :search_terms "Rasta Toucan's Personal Collection",
  :updated_at :%now}
 {:archived false,
  :collection_id 18,
  :display_data "{\"name\":\"Automatically Generated Dashboards\",\"description\":null,\"collection_name\":\"Automatically Generated Dashboards\"}",
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_id\":18,\"name\":\"Automatically Generated Dashboards\",\"collection_name\":\"Automatically Generated Dashboards\",\"collection_authority_level\":null,\"id\":18,\"collection_type\":null,\"archived_directly\":null,\"location\":\"/\",\"created_at\":\"2025-01-28T14:54:06.609042Z\",\"model\":\"collection\"}",
  :model "collection",
  :model_id 18,
  :name "Automatically Generated Dashboards",
  :native_search_terms "Automatically Generated Dashboards",
  :search_terms "Automatically Generated Dashboards",
  :updated_at :%now}
 {:archived false,
  :collection_id 19,
  :display_data "{\"name\":\"A look at Orders\",\"description\":\"Automatically generated cards.\",\"collection_name\":\"A look at Orders\"}",
  :legacy_input "{\"description\":\"Automatically generated cards.\",\"archived\":false,\"collection_id\":19,\"name\":\"A look at Orders\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"id\":19,\"collection_type\":null,\"archived_directly\":null,\"location\":\"/18/\",\"created_at\":\"2025-01-28T14:54:06.614243Z\",\"model\":\"collection\"}",
  :model "collection",
  :model_id 19,
  :name "A look at Orders",
  :native_search_terms "A look at Orders",
  :search_terms "A look at Orders",
  :updated_at :%now}
 {:archived false,
  :display_data "{\"name\":\"test-data (h2)\",\"description\":null}",
  :legacy_input "{\"model\":\"database\",\"name\":\"test-data (h2)\",\"description\":null,\"id\":1,\"created_at\":\"2025-01-28T14:50:42.886584Z\",\"updated_at\":\"2025-01-28T14:50:43.607061Z\",\"initial_sync_status\":\"complete\"}",
  :model "database",
  :model_id 1,
  :name "test-data (h2)",
  :native_search_terms "test-data (h2)",
  :search_terms "test-data (h2)",
  :updated_at :%now}
 {:archived false,
  :display_data "{\"name\":\"airports (h2)\",\"description\":null}",
  :legacy_input "{\"model\":\"database\",\"name\":\"airports (h2)\",\"description\":null,\"id\":2,\"created_at\":\"2025-01-28T14:53:46.988329Z\",\"updated_at\":\"2025-01-28T14:53:47.130337Z\",\"initial_sync_status\":\"complete\"}",
  :model "database",
  :model_id 2,
  :name "airports (h2)",
  :native_search_terms "airports (h2)",
  :search_terms "airports (h2)",
  :updated_at :%now}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Total transactions\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Total transactions\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.623927Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":96,\"last_edited_at\":\"2025-01-28T14:54:06.627128Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"scalar\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.623927Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 96,
  :name "Total transactions",
  :native_search_terms "Total transactions",
  :official_collection nil,
  :pinned false,
  :search_terms "Total transactions",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Transactions in the last 30 days\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Transactions in the last 30 days\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.640217Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":97,\"last_edited_at\":\"2025-01-28T14:54:06.643624Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"scalar\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.640217Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 97,
  :name "Transactions in the last 30 days",
  :native_search_terms "Transactions in the last 30 days",
  :official_collection nil,
  :pinned false,
  :search_terms "Transactions in the last 30 days",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Average quantity per month\",\"description\":\"Average item quantity per month\",\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":\"Average item quantity per month\",\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Average quantity per month\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.656943Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":98,\"last_edited_at\":\"2025-01-28T14:54:06.659901Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"line\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.656943Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 98,
  :name "Average quantity per month",
  :native_search_terms "Average quantity per month Average item quantity per month",
  :official_collection nil,
  :pinned false,
  :search_terms "Average quantity per month Average item quantity per month",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Sales per source\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Sales per source\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.674577Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":99,\"last_edited_at\":\"2025-01-28T14:54:06.678959Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"area\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.674577Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 99,
  :name "Sales per source",
  :native_search_terms "Sales per source",
  :official_collection nil,
  :pinned false,
  :search_terms "Sales per source",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Sales per product\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Sales per product\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.698364Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":100,\"last_edited_at\":\"2025-01-28T14:54:06.702139Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"table\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.698364Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 100,
  :name "Sales per product",
  :native_search_terms "Sales per product",
  :official_collection nil,
  :pinned false,
  :search_terms "Sales per product",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Sales for each product category\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Sales for each product category\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.718444Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":101,\"last_edited_at\":\"2025-01-28T14:54:06.721346Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"row\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.718444Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 101,
  :name "Sales for each product category",
  :native_search_terms "Sales for each product category",
  :official_collection nil,
  :pinned false,
  :search_terms "Sales for each product category",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Sales per state\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Sales per state\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.73835Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":102,\"last_edited_at\":\"2025-01-28T14:54:06.74214Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"map\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.73835Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 102,
  :name "Sales per state",
  :native_search_terms "Sales per state",
  :official_collection nil,
  :pinned false,
  :search_terms "Sales per state",
  :updated_at :%now,
  :verified nil,
  :view_count 0}
 {:archived false,
  :collection_id 19,
  :creator_id 3,
  :dashboard_id nil,
  :dashboardcard_count 0,
  :database_id 1,
  :display_data "{\"name\":\"Sales by coordinates\",\"description\":null,\"collection_name\":\"A look at Orders\"}",
  :last_editor_id 3,
  :legacy_input "{\"description\":null,\"archived\":false,\"collection_position\":null,\"database_id\":1,\"collection_id\":19,\"official_collection\":null,\"name\":\"Sales by coordinates\",\"collection_name\":\"A look at Orders\",\"collection_authority_level\":null,\"creator_id\":3,\"updated_at\":\"2025-01-28T14:54:06.759809Z\",\"moderated_status\":null,\"last_editor_id\":3,\"collection_location\":\"/18/\",\"id\":103,\"last_edited_at\":\"2025-01-28T14:54:06.763444Z\",\"dashboardcard_count\":0,\"collection_type\":null,\"display\":\"map\",\"archived_directly\":false,\"verified\":null,\"dashboard_id\":null,\"created_at\":\"2025-01-28T14:54:06.759809Z\",\"model\":\"card\"}",
  :model "card",
  :model_id 103,
  :name "Sales by coordinates",
  :native_search_terms "Sales by coordinates",
  :official_collection nil,
  :pinned false,
  :search_terms "Sales by coordinates",
  :verified nil,
  :view_count 0})
